body {
    font-family: Arial, sans-serif;
    background-color: #ccffcc;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav button {
    background-color: #444;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.gallery img {
    max-width: 100px; /* Größe anpassen */
    height: auto;
    margin: 10px;
}

.wappen {
    height: 60px; /* Größe anpassen */
    width: auto; /* Automatische Breite */
    display: block;
    margin: 0 auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
}

.sponsor img {
    max-width: 150px;
    margin: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}
